# Docker ignore para build del API
**/.next
**/.git
**/.env*
!/.env
!apps/api/.env
**/backups
**/infra
**/docs
**/.github
**/README.md
**/*.md
!apps/web/README.md
**/LICENSE
**/.vscode
**/.idea
**/coverage
**/*.test.ts
**/*.spec.ts
**/__tests__
tmp
*.tmp
*.log
.DS_Store

# Permitir node_modules (necesario para copiar deps al contenedor)
!node_modules
!apps/api/node_modules
!apps/web/node_modules
!packages/shared/node_modules
