# Configuración de pnpm
# pnpm 12+ config: only-built-dependencies
only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=@nestjs/schematics
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=prisma
only-built-dependencies[]=unrs-resolver
